.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ticketsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.totalContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
