.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff5500;
    cursor: pointer;
}

.disabled {
    background-color: #ffa375;
}

.active:hover {
    background-color: #e94e00;
}
