.container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.imgContainer {
    border-radius: 8px;
    overflow: hidden;
}

.main {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    gap: 24px;
}

.titleContainer {
    flex-grow: 1;
}

.title {
    margin-bottom: 8px;
    font-size: 20px;
}

.titleFilmCard {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 32px;
}

.closeBtn {
    all: unset;
    cursor: pointer;
}

.filmMetaContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
}

.filmMetaTitle {
    font-weight: 600;
}
