.container {
    position: fixed;
    top: 0;
    padding: 24px 32px;
    width: 100%;
    max-width: 1920px;
    color: #fff;
    background-color: #333;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    align-items: center;
    height: 36px;
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.basketContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    /* height: ; */
}

.basketLink {
    height: 32px;
}
