.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #e1e3e6;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}

.active {
    border-color: #ff5500;
}

.placeholder {
    color: #999fa6;
}

.icon {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.rotateIcon {
    transform: rotate(180deg);
}
